In [43]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler , LabelEncoder
import pickle

In [44]:
## Load the dataset
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [46]:
data.describe()

         RowNumber    CustomerId  ...  EstimatedSalary        Exited
count  10000.00000  1.000000e+04  ...     10000.000000  10000.000000
mean    5000.50000  1.569094e+07  ...    100090.239881      0.203700
std     2886.89568  7.193619e+04  ...     57510.492818      0.402769
min        1.00000  1.556570e+07  ...        11.580000      0.000000
25%     2500.75000  1.562853e+07  ...     51002.110000      0.000000
50%     5000.50000  1.569074e+07  ...    100193.915000      0.000000
75%     7500.25000  1.575323e+07  ...    149388.247500      0.000000
max    10000.00000  1.581569e+07  ...    199992.480000      1.000000

[8 rows x 11 columns]

In [47]:
## Preprocessing the dataset
### Dropping unnecessary columns
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1) ## axis=1 means we are dropping columns
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [48]:
## Encoding categorical variables
label_encoder_gender = LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [49]:
# Encoding categorical variables for Geography
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder = OneHotEncoder()
geography_encoded = one_hot_encoder.fit_transform(data[['Geography']])
geography_encoded

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [50]:
one_hot_encoder.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [51]:
geo_encoded_df = pd.DataFrame( geography_encoded.toarray() , columns=one_hot_encoder.get_feature_names_out(['Geography']))

In [52]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [53]:
## Concatenating the encoded geography columns with the original dataframe
data = pd.concat([data.drop('Geography',axis = 1), geo_encoded_df], axis=1)

In [54]:
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [55]:
## save the encoders and scaler
with open('label_encoder_gender.pkl','wb') as file:
  pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl','wb') as file:
  pickle.dump(one_hot_encoder, file)

In [56]:
## Splitting the dataset into features and target variable
X = data.drop('Exited', axis=1)
y = data['Exited']


## Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
## Scaling the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [57]:
## SAving the scaler
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [58]:
data

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

# ANN Implementation

In [59]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
## Sequential model is a linear stack of layers (contains a cycle of forward and backward propogation)
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping , TensorBoard
import datetime

In [60]:
## build our ANN model
model = Sequential([
  Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1 Connected with input layer
  Dense(32,activation='relu'),## HL2
  Dense(1,activation='sigmoid') ## output layer
])

In [61]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [62]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss= tensorflow.keras.losses.BinaryCrossentropy()

In [63]:
## compile the model 
## This step is required before performing forward and backward propogation

model.compile(optimizer=opt,loss='binary_crossentropy',metrics=['accuracy'])

In [64]:
## set up the Tensorboard
import tensorflow
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [65]:
## Set up Early Stopping
## Lets say after some epochs we get the model at its peak performance and after that the variation from loss function is not that much 
## So instead of processing for all the epochs we can stop the training early
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [66]:
## Training the Model
history = model.fit(
  X_train,y_train,validation_data=(X_test,y_test),epochs=100,
  callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100

250/250 [==============================] - 3s 7ms/step - loss: 550.4609 - accuracy: 0.6786 - val_loss: 206.8942 - val_accuracy: 0.8035
Epoch 2/100
250/250 [==============================] - 1s 5ms/step - loss: 134.9009 - accuracy: 0.6825 - val_loss: 126.3735 - val_accuracy: 0.8035
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 61.3588 - accuracy: 0.6812 - val_loss: 64.8015 - val_accuracy: 0.8035
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 37.4050 - accuracy: 0.6764 - val_loss: 14.0985 - val_accuracy: 0.7390
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 16.2874 - accuracy: 0.6851 - val_loss: 10.1784 - val_accuracy: 0.5815
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 10.1974 - accuracy: 0.6836 - val_loss: 8.5021 - val_accuracy: 0.4910
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 6.0196 - accuracy: 0.6815 - val_loss: 3.8571 - val_accuracy: 0.8035
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 3.8632 - accuracy: 0.6856 - val_loss: 8.6247 - val_accuracy: 0.8035
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 2.3206 - accuracy: 0.6990 - val_loss: 2.0160 - val_accuracy: 0.5815
Epoch 10/100
250/250 [==============================] - 2s 6ms/step - loss: 2.5588 - accuracy: 0.6915 - val_loss: 0.8392 - val_accuracy: 0.7890
Epoch 11/100
250/250 [==============================] - 1s 5ms/step - loss: 1.0446 - accuracy: 0.7470 - val_loss: 0.5756 - val_accuracy: 0.7995
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5949 - accuracy: 0.7788 - val_loss: 0.5896 - val_accuracy: 0.8040
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5760 - accuracy: 0.7836 - val_loss: 0.5050 - val_accuracy: 0.8040
Epoch 14/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5216 - accuracy: 0.7931 - val_loss: 0.4927 - val_accuracy: 0.8035
Epoch 15/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5129 - accuracy: 0.7939 - val_loss: 0.4921 - val_accuracy: 0.8035
Epoch 16/100
250/250 [==============================] - 2s 6ms/step - loss: 0.5140 - accuracy: 0.7945 - val_loss: 0.4904 - val_accuracy: 0.8035
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5038 - accuracy: 0.7945 - val_loss: 0.4903 - val_accuracy: 0.8035
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5030 - accuracy: 0.7945 - val_loss: 0.4902 - val_accuracy: 0.8035
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5040 - accuracy: 0.7945 - val_loss: 0.4900 - val_accuracy: 0.8035
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5025 - accuracy: 0.7945 - val_loss: 0.4923 - val_accuracy: 0.8035
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5017 - accuracy: 0.7945 - val_loss: 0.4894 - val_accuracy: 0.8035
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5027 - accuracy: 0.7945 - val_loss: 0.4933 - val_accuracy: 0.8035
Epoch 23/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5033 - accuracy: 0.7945 - val_loss: 0.5019 - val_accuracy: 0.8035
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5042 - accuracy: 0.7945 - val_loss: 0.4904 - val_accuracy: 0.8035
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5051 - accuracy: 0.7945 - val_loss: 0.4960 - val_accuracy: 0.8035
Epoch 26/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5075 - accuracy: 0.7945 - val_loss: 0.4916 - val_accuracy: 0.8035

In [67]:
model.save('model.h5') # saving in h5 file because its compatible with keras

c:\Users\Admin\OneDrive\Desktop\ML projects\Bank_Binary_classification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [68]:
## Load Transboard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [69]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 20832), started 0:08:23 ago. (Use '!kill 20832' to kill it.)